html, body {
  margin: 0;
}

header {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  color: white;
  height: 55px;
  align-items: center;
}

header > img {
  width: 24px;
  margin-right: 7px;
}

header > h1 {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Inter;
}

article.journal-entry {
  display: flex;
  margin-bottom: 36px;
  padding-left: 3%;
  margin-top: 3%;
}

article.journal-entry .main-image-container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}

article.journal-entry .main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

article.journal-entry .country-name {
  font-family: Inter;
}

.marker {
  height: 13px;
}

.dates {
  font-weight: bold;
  font-family: Inter;
}

.location {
  font-weight: bold;
  font-size: 2rem;
  font-family: Inter;
}

.googleMapsContainer {
  display: flex;
  gap: 10px;
}

.country-name {
  text-transform: capitalize;
}