body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
}

h1 {
  margin-top: 30px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: right;
}

.nav-item {
  margin-left: 10px;
  font-size: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: left;
}

.react-logo {
  width: 55px;
}